<a href="https://colab.research.google.com/github/alosoz/Python_for_machine_learning/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Object-oriented programming**

In [ ]:
listed = [1, 2, 3, 4, 5]
listed

[1, 2, 3, 4, 5]

In [ ]:
text = "Hello I am an object"

In [ ]:
def summation(a, b):
  return a + b

print(type(summation))

<class 'function'>

In [ ]:
class Person():
  name = "Joey"
  surname = "Aniston"
  age = 23
  gender = "Male"

In [ ]:
person = Person()

In [ ]:
print(person.name)
print(person.surname)
print(person.age)
print(person.gender)

Joey
Aniston
23
Male

In [ ]:
class Person():
  def __init__(self, name, surname, age, gender):
    self.name = name
    self.surname = surname
    self.age = age
    self.gender = gender

In [ ]:
person2 = Person("Joey", "Aniston", 23, "male")

In [ ]:
print(person2.name)
print(person2.surname)
print(person2.age)
print(person2.gender)

Joey
Aniston
23
male

In [ ]:
type(list1) # list1 is actually a list object.

list

In [ ]:
def summation(a, b):
  return a + b

type(summation) # the function is also a object in programming world

function

In [ ]:
class MyCompany():
  company_name = "Dark Blue"
  foundation_year = 2020
  founder_name = "John Doe"
  number_of_department = 5
  sector = "Healthcare"

In [ ]:
myObject = MyCompany()

In [ ]:
print(myObject.company_name)
print(myObject.foundation_year)
print(myObject.founder_name)
print(myObject.number_of_department)

Dark Blue
2020
John Doe
5

In [ ]:
class MyCompany():
  def __init__(self, company_name, foundation_year, founder_name, number_of_department, sector):
    self.company_name = company_name
    self.foundation_year = foundation_year
    self.founder_name = founder_name
    self.number_of_deparment = number_of_department
    self.sector = sector

In [ ]:
mycompany = MyCompany("Dark Blue", 2020, "John Doe", 5, "Healthcare")
print(mycompany.company_name)
print(mycompany.foundation_year)
print(mycompany.founder_name)
print(mycompany.number_of_department)
print(mycompany.sector)

In [ ]:
mycompany = MyCompany("Red White", 2002, "Michael Jackson ", 4, "Banking")
print(mycompany.company_name)
print(mycompany.foundation_year)
print(mycompany.founder_name)
print(mycompany.number_of_department)
print(mycompany.sector)

In [ ]:
print(car1.model)
print(car1.color)
print(car1.hp)
print(car1.steamroller)

Audi
Green
180
4

In [ ]:
class Car():
  brand = "Mercedes"
  color = "Blue"
  production_year = 2020
  steamroller = 4

In [ ]:
class Car():
  brand = "Audi"
  color = "Blue"
  production_year = 2020
  steamroller = 4

In [ ]:
dir(car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'hp',
 'model',
 'steamroller']

In [ ]:
class Car():
  def __init__(self):
    print("the function is working...")

In [ ]:
car3 = Car() # as you see, the function is working automatically

the function is working...

In [ ]:
class Car():
  def __init__(self, brand, color, production_year, steamroller):
    self.brand = brand
    self.color = color
    self.production_year = production_year
    self.steamroller = steamroller

In [ ]:
car1 = Car("Audi", "Green", 180, 4)

the function is working and the attributes has been created.

In [ ]:
print(car1.model)
print(car1.color)
print(car1.hp)
print(car1.steamroller)

Audi
Green
180
4

In [ ]:
car2 = Car("Opel", "Red", 120, 4)

the function is working and the attributes has been created.

In [ ]:
print(car2.model)
print(car2.color)
print(car2.hp)
print(car2.steamroller)

Opel
Red
120
4

# Methodlar

Bu classın sahibi olduğu özellikleri oluşturmak istiyoruz.

In [ ]:
class Employee():
  def __init__(self, name, surname, age, salary, title):
    self.name = name
    self.surname = surname
    self.age = age
    self.salary = salary
    self.title = title
  
  def get_information(self):
    print("""
    Name: {}
    Surname: {}
    Age: {}
    Salary: {}
    Title: {}
    """.format(self.name, self.surname, self.age, self.salary, self.title))
  
  def change_title(self, title):
    self.title = title
    print("The new title is {}".format(self.title))

  def increase_salary(self, increase_rate):
    self.salary += self.salary * increase_rate
    print("The new salary is {}".format(self.salary))

In [ ]:
employee = Employee('John', 'Doe', 27, 3000, 'Finance Spealist')
employee.get_information()

    Name: John
    Surname: Doe
    Age: 27
    Salary: 3000
    Title: Finance Spealist

In [ ]:
employee.change_title('Finance Expert')
employee.increase_salary(0.4)
employee.get_information()

The new title is Finance Expert
The new salary is 4200.0

    Name: John
    Surname: Doe
    Age: 27
    Salary: 4200.0
    Title: Finance Expert

# Inheritance

In [ ]:
class Manager(Employee):
  pass

In [ ]:
manager = Manager("Jack","Denver", 34, 5000, 'CEO')
manager.get_information()

    Name: Jack
    Surname: Denver
    Age: 34
    Salary: 5000
    Title: CEO

In [ ]:
dir(manager)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'change_title',
 'get_information',
 'increase_salary',
 'name',
 'salary',
 'surname',
 'title']

In [ ]:
class Manager(Employee):
  def increase_salary_for_manager(self, ratio):
    self.salary += self.salary * ratio

In [ ]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead")
manager.increase_salary_for_manager(0.3)
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: 9100.0
    Languages: ['English', 'Spanish', 'Portuguese']
    Title: Finance Team Lead

In [ ]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name 
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

In [ ]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name 
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

  def get_information(self):
    print("""
    Name: {}
    Surname: {}
    Age: {}
    Salary: {}
    Title: {}
    Languages: {}
    """.format(self.name, self.surname, self.age, self.salary, self.title, self.languages))

In [ ]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead")
manager.get_information()

TypeError: ignored

In [ ]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead", ['English','Portuguese', 'Spanish'])
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: Finance Team Lead
    Title: 7000
    Languages: ['English', 'Portuguese', 'Spanish']

# "Super"

In [ ]:
class Employee():
  def __init__(self, name, surname, age, salary, title):
    self.name = name
    self.surname = surname
    self.age = age
    self.salary = salary
    self.title = title

In [ ]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    self.name = name 
    self.surname = surname
    self.age = age
    self.title = title
    self.salary = salary
    self.languages = languages

In [ ]:
class Manager(Employee):
  def __init__(self, name, surname, age, title, salary, languages):
    super().__init__(name, surname, age, title, salary)
    self.languages = languages

In [ ]:
manager = Manager("Sacha", "Kearney", 34, 7000, "Finance Team Lead", ['English','Portuguese', 'Spanish'])
manager.get_information()

    Name: Sacha
    Surname: Kearney
    Age: 34
    Salary: Finance Team Lead
    Title: 7000
    Languages: ['English', 'Portuguese', 'Spanish']

# Special Methods
Special methods are a set of predefined methods in Python that you can use to enhance your classes. Because they begin and conclude with double underscores, such as __init__ or __str__, they are easily identifiable.

Pythoneer used the term "dunder methods" as a short form of "double under," as saying under-under-method-under-under grew monotonous.



In Python, these "dunders" or "special methods" are sometimes known as "magic methods." However, adopting this phrase can make things appear more sophisticated than they are—at the end of the day, they aren't "magical." These methods should be treated as if they were a standard language feature.

What kind of special methods we have? For Example;
* __init__
* __str__
* __len__

In [ ]:
class Animal():
  def __init__(self, name, age, number_of_feet):
    self.name = name
    self.age = age
    self.number_of_feet = number_of_feet

  def __str__(self):
    return "Name: {}\nAge: {}\nNumber of Feet: {}".format(self.name, self.age, self.number_of_feet)

  def __len__(self):
    return len(self.name)

In [ ]:
lion = Animal('Lion', 4, 4)
print(lion)

Name: Lion
Age: 4
Number of Feet: 4

In [ ]:
len(lion)

4

In [ ]:
listed = [1, 2, 3, 4, 5]

In [ ]:
str

##**Guided_project_2**

#Chapter 2
##Object-oriented programming

Your department receives a request to prepare a test software to digitalize the health insurance, logistics, and trading companies that can be expanded in the future.

You come up with an idea: object-oriented programming. Your approach is to create classes for each company that will have different attributes and methods to digitalize some of their functions.

### Health insurance
#### Define the class
You start with the health insurance company. 

You need to create a system for the supplemental health insurance registration process by taking different variables like age, chronic disease, and income into account. 

📌 Use the keyword "class" to create the class "HealthInsurance" 

📌 Use the "__init__" method to initialze the object's attributes: self, company_name, foundation_year, founder_name,  company_slogan, num_of_employees and num_of_clients.

#### Define the methods

Next, define the methods of the class:

1. print_report method: A method to print out information about the company. 

  📌 The report should have this structure: 

  "The company *name*, was founded in *year*. The founder of the company is *founder_name*. 

  Company slogan: *company_slogan*

  Number of employees: *number of employees*

  Number of clients: *number of clients*"

2. sup_health_insurance method: A method to check the eligibility for supplemental health insurance. It should consider the parameters "age", "chronic_disease", and "income".

  📌 Use if-else statements and logical operators.

3. update_num_clients method: A method to update the attribute number of clients.

In [ ]:
#Define the "HealthInsurance" class
class HealthInsurance:

    #Initialize the object's attributes
    def __init__(self, company_name, foundation_year, founder_name, company_slogan, num_of_employees, num_of_clients):
      self.company_name = company_name
      self.foundation_year = foundation_year
      self.founder_name = founder_name
      self.company_slogan = company_slogan
      self.num_of_employees = num_of_employees
      self.num_of_clients = num_of_clients


    #Define the print_report method
    def print_report(self):
      print(f"""The company {self.company_name} was founded in {self.foundation_year}.
      The founder of the cmpany is {self.founder_name}.
      Company slogan: {self.company_slogan}
      Number of employees: {self.num_of_employees}
      Number of clients: {self.num_of_clients}""")

    #Define the sup_health_insurance method
    def sup_health_insurance(self, age, chronic_disease, income):

      #if-else statements to check whether person can get supplemental insurance or not
      if age >= 60 and chronic_disease == True and income < 6000:
        print("We are sorry! You are not eligible for supplemantal health insurance.")
      elif age < 60 and income >= 6000 or chronic_disease == False:
        print("Congradulations! You can get supplemental health insurance.")


    #Define the update_num_clients method
    def update_num_clients(self, new_number):
      self.num_of_clients = new_number
      print(f"Number of clients has been changed to {self.num_of_clients}!")

#### Create the object 
Now that we created our class and initialized its attributes and methods, we can create the object “HI_company1” with the attributes: 

* Company_name “Healthy”

* foundation_year “2012”

* founder_name “Bob Mayer”

* company_slogan “We care for you.” 

* num_of_employees “3500”

* num_of_clients “13230”

In [ ]:
#Create the object "HI_company1" with it's attributes
HI_company1 = HealthInsurance('Healthy', 2012, 'Bob Mayer', 'We care for you.', 3500, 13230)

#### Let’s check if the methods work.

There is a new customer that wants to register for supplemental health insurance. He is 45 years old, does not have a chronic disease, and has an income of 5000 dollars per month.

📌 Use the sup_health_insurance method with this information.

In [ ]:
#Use the sup_health_insurance for the new customer
HI_company1.sup_health_insurance(45, False, 8000)

Congradulations! You can get supplemental health insurance.

Because the number of clients has increased, you should use the update_num_clients method. 

📌 The new_number will be 13231.

In [ ]:
#Update the number of clients
HI_company1.update_num_clients(13231)

Number of clients has been changed to 13231!

To see the output of the latest update and check whether it worked or not, call the print_report method.

In [ ]:
#Call the print_report method for HI_company1
HI_company1.print_report()

The company Healthy was founded in 2012.
      The founder of the cmpany is Bob Mayer.
      Company slogan: We care for you.
      Number of employees: 3500
      Number of clients: 13231

### Logistic
Let's continue with the next company from your brief.

Storage plays a crucial part in logistics, and the company wants to track the status of inventory space with software and be able to make changes in the system whenever it is needed.

Again, you need to create a class.

📌 Use the keyword "class" to create the class "Logistics" 

📌 Use the "__init__" method to initialze the object's attributes: self, company_name, foundation_year, founder_name,  company_slogan, and inventory_space.

#### Define the methods

Next, define the methods of the class:

1. print_report method: A method to print out information about the company. 

  📌 The report should have this structure: 

  "The company *name*, was founded in *year*. The founder of the company is *founder_name*. 

  Company slogan: *company_slogan*

  Inventory space of the company: *inventory_space*


2. update_inventory_space method: A method to update its inventory_space, and print a statement to describe the change.
It should consider the parameter "new_storage_space".

In [ ]:
#Define the "Logistics" class
class Logistics:

    #Initialize the object's attributes 
  def __init__(self, company_name, foundation_year, founder_name, company_slogan, inventory_space):
    self.company_name = company_name
    self.foundation_year = foundation_year
    self.founder_name = founder_name
    self. company_slogan = company_slogan
    self.inventory_space = inventory_space
        
    #Define the print_report method
  def print_report(self):
    print(f"""
    The company name is {self.company_name} and was founded in {self.foundation_year}.
    Then founder of the company is {self.founder_name}.
    Company slogan: {self.company_slogan}
    Inventory space of the company: {self.inventory_space}""")

    #Define the update_inventory_space method
  def update_inventory_space(self, new_storage_space):
    self.inventory_space = new_storage_space
    print(f"Inventory space has been changed to {self.inventory_space}")

#### Create the object 
Now that we created our class and initialized its attributes and methods, we can create the object “logistic_company1” with the attributes: 

* Company_name “LogCom”

* foundation_year “1990”

* founder_name “Laura McCartey”

* company_slogan “There is no place we cannot reach.” 

* inventory_space “2500”

In [ ]:
#Create the object "logistic_company1" with it's attributes
logistic_company1 = Logistics('LogCom', 1990, 'Laura McCartey', 'There is no place we cannot reach', 2500)


#### Let’s check if the methods work.
The logistics company plans to buy a new warehouse which will increase the inventory_space to 3000. 

📌 Call the update_inventory_space method to reflect this change in the system and then use the “print_report” method.

In [ ]:
#Update the inventory space
logistic_company1.update_inventory_space(4500)
#Call the print_report method for logistic_company1
logistic_company1.print_report()

Inventory space has been changed to 4500

    The company name is LogCom and was founded in 1990.
    Then founder of the company is Laura McCartey.
    Company slogan: There is no place we cannot reach
    Inventory space of the company: 4500

### Trading
The last company you need to digitalize is the trading one.

You are expected to create a method to update the sales and expenses and calculate the revenue.

As with the previous companies, you need to create a class.

📌 Use the keyword "class" to create the class "Trading" 

📌 Use the "__init__" method to initialze the object's attributes: self, company_name, foundation_year, founder_name,  company_slogan, sales, expenses, and revenue.

#### Define the methods

Next, define the methods of the class:

1. print_report method: A method to print out information about the company. 

  📌 The report should have this structure: 

  "The company *name*, was founded in *year*. The founder of the company is *founder_name*. 

  Company slogan: *company_slogan*

  Total sales: *sales*

  Total expenses: *expenses*

  Total revenue: *revenue*


2. update_sales_and_expenses method: A method to update the sales and expenses.
It should consider the parameters "new_sales" and "new_expenses".

3. calculate_revenue method: A method  which computes the difference between sales and expenses and prints out the revenue.

In [ ]:
#Define the "Trading" class
class Trading:
    #Initialize the object's attributes 
    def __init__(self, company_name, foundation_year, founder_name, company_slogan, sales, expenses, revenue):
      self.company_name = company_name
      self.foundation_year = foundation_year
      self.founder_name = founder_name
      self.company_slogan = company_slogan
      self.sales = sales
      self.expenses = expenses
      self.revenue = revenue

    #Define the print_report method
    def print_report(self):
      print(f"""
      The company name is {self.company_name} and was founded in {self.foundation_year}.
      Then founder of the company is {self.founder_name}.
      Company slogan: {self.company_slogan}
      Total sales: {self.sales}
      Total expenses: {self.expenses}
      Total revenue: {self.revenue}
      """)

    #Define the update_sales_and_expenses method
    def update_sales_and_expenses(self, new_sales, new_expenses):
      self.sales += new_sales
      self.expenses += new_expenses
      print('Sales and expenses are updated')
      

    #Define the calculate_revenue method
    def calculate_revenue(self):
      self.revenue = self.sales - self.expenses
      print(f"The revenue of the company is: {self.revenue}")

#### Create the object 
Now that we created our class and initialized its attributes and methods, we can create the object “trading_company1” with the attributes: 

* Company_name “TraCom”

* foundation_year “2005”

* founder_name “Chong Wu”

* company_slogan “We revolutionize trading.” 

* sales "5000"

* expenses "2000"

* revenue "3000"

In [ ]:
#Create the object "trading_company1" with it's attributes
trading_company1 = Trading('TraCom', 2005, 'Chong Wu', 'We revolutionize trading', 5000, 2000, 3000)

In [ ]:
trading_company2 = Trading('Comtrade', 2002, 'Daniel Ross', 'We revolutionize trading.', 3850, 1720, 1838)

#### Let’s check if the methods work.
Update the sales and expenses. The sales went up by 100 and the expenses increased by 50.

📌 Use the update_sales_and_expenses method with this information.

In [ ]:
#Update the sales and expenses
trading_company1.update_sales_and_expenses(100, 50)

Sales and expenses are updated

After updating sale and expense informations, it is time to calculate the company revenue. 

📌 Use the calculate revenue method.

In [ ]:
#Calculate the revenue
trading_company1.calculate_revenue()

The revenue of the company is: 3050

In [ ]:
trading_company2.calculate_revenue()

The revenue of the company is: 2130

Finally, let’s check our company’s information.

In [ ]:
#Call the print_report method for trading_company1
trading_company1.print_report()

      The company name is TraCom and was founded in 2005.
      Then founder of the company is Chong Wu.
      Company slogan: We revolutionize trading
      Total sales: 5100
      Total expenses: 2050
      Total revenue: 3050

**Extras**

In [ ]:
class Sales:
  def __init__(self, id):
    self.id = id
    id = 100

val = Sales(123)
print(val.id)

123

In [ ]:
from pathlib import PureWindowsPath
def printHello():
  print("Hello")

a = printHello()

Hello